@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

#area-cabeçalho{
    background-color: #f7b600;
    padding: 10px;
    text-align: center;
}

#area-logo{
    padding: 10px;
}

#area-menu{
    padding: 10px;
}

#area-principal{
    width: 920px;
    margin: 0;
    padding: 15px;
}

#area-postagem{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e6e6e6;
}

.conteudo-lateral{
    background-color: #e6e6e6;
    padding: 10px;
    margin: 20px;
}

.postagem-lateral{
    font-size: 8px;
    padding: 5px;
    border-bottom: 1px dotted #cac6c6;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #cac6c6;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#area-cabeçalho a:link, #area-cabeçalho a:visited{
    color: #f4f0f0;
    padding: 8px 12px;
}

#area-cabeçalho a:hover{
    color: #f7b600;
    background-color: #f4f0f0;
    text-decoration: none;
}

h1{
    color: #090101;
    font-size: 20px;
}

h2{
    color: #f7b600;
}

h3{
    color: 565656;
    background-color: #f4f0f0;
    padding: 5px;
}

.branco{
    color: #f4f0f0;
}

.data-postagem{
    font-size: 10px;
    border-bottom: 1px solid #f4f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}